<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>First Symfony Project</title>
    <link href="{{ asset('css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="First Symfony Project" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
        <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
        <!----//webfonts---->
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!--end slider -->
        <!--script-->
<script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
<!--/script-->
<script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                });
            });
</script>
<!---->

</head>
<body>
<!---header---->
<div class="header">
     <div class="container">
          <div class="logo">
              <a href="{{ path('m2_i_blog_homepage') }}"><img src="{{ asset('images/logo.jpg') }}" title="" /></a>
          </div>
             <!---start-top-nav---->
             <div class="top-menu">
                 <div class="search">
                     <form>
                     <input type="text" placeholder="" required="">
                     <input type="submit" value=""/>
                     </form>
                 </div>
                  <span class="menu"> </span>
                   <ul>
                        <li class="active"><a href="{{ path('m2_i_blog_homepage') }}">HOME</a></li>
                        <li><a href="{{ path('m2_i_blog_aboutpage') }}">ABOUT</a></li>
                        <li><a href="{{ path('m2_i_blog_contactpage') }}">CONTACT</a></li>
                        <li><a href="{{ path('m2_i_blog_add_article') }}">AJOUTER UN ARTICLE</a></li>
                        <div class="clearfix"> </div>
                 </ul>
             </div>
             <div class="clearfix"></div>
                    <script>
                    $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                    });
                    </script>
                <!---//End-top-nav---->
     </div>
</div>
<!--/header-->
<div class="content">
     <div class="container">
         <div class="content-grids">
             <div class="col-md-8 content-main">
                    {% block body %}
                    {% endblock %}
              </div>
              <div class="col-md-4 content-right">
                 <div class="recent">
                     <h3>DERNIERS ARTICLES</h3>
                     <ul>
                     <li><a href="#">Aliquam tincidunt mauris</a></li>
                     <li><a href="#">Vestibulum auctor dapibus  lipsum</a></li>
                     <li><a href="#">Nunc dignissim risus consecu</a></li>
                     <li><a href="#">Cras ornare tristiqu</a></li>
                     </ul>
                 </div>
                 <div class="comments">
                     <h3>DERNIERS COMMENTAIRES</h3>
                     <ul>
                     <li><a href="#">Barbara Chatte </a> on <a href="#">Qui veut une gaufrette ?!</a></li>
                     <li><a href="#">Peter Doe </a> on <a href="#"> Photography</a></li>
                     <li><a href="#">Steve Roberts  </a> on <a href="#">HTML5/CSS3</a></li>
                     </ul>
                 </div>
                 <div class="clearfix"></div>
                 <div class="archives">
                     <h3>ARCHIVES</h3>
                     <ul>
                     <li><a href="#">Octobre 2016</a></li>
                     <li><a href="#">Septembre 2016</a></li>
                     <li><a href="#">Aout 2016</a></li>
                     <li><a href="#">Juillet 2016</a></li>
                     </ul>
                 </div>
                 <div class="categories">
                     <h3>CATEGORIES</h3>
                     <ul>
                     <li><a href="#">Vivamus vestibulum nulla</a></li>
                     <li><a href="#">Integer vitae libero ac risus e</a></li>
                     <li><a href="#">Vestibulum commo</a></li>
                     <li><a href="#">Cras iaculis ultricies</a></li>
                     </ul>
                 </div>
                 <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
</div>
<!---->
<div class="footer">
     <div class="container">
     <p>Copyrights © 2016 First Symfony Bundle Blog | Modifié par Benoît | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
     </div>
</div>
</body>
