{% extends '::base.html.twig' %}

{% block body %}
 <div class="content-grid">
     {% for article in articleList %}
     <div class="content-grid-info">
         <img src="{{ asset('images/post'~random('123')~'.jpg') }}" alt=""/>
         <div class="post-info">
         <h4><a href="{{ path('m2_i_blog_detailarticle', {'idArticle':article.id}) }}">{{ article.title }}</a>
         {{ article.createDate| date("d/m/Y") }} / 27 Comments</h4>
         <p>{{ article.description }}</p>
         <a href="{{ path('m2_i_blog_detailarticle', {'idArticle':article.id}) }}"><span></span>READ MORE</a>
         <a href="{{ path('m2_i_blog_edit_article', {'idArticle':article.id}) }}"><span></span>EDIT</a>
         <a href="{{ path('m2_i_blog_delete_article', {'idArticle':article.id}) }}"><span></span>DELETE</a>
         </div>
     </div>
     {% endfor %}

 </div>
{% endblock %}
